* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 39, 39);
}

#top {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

main {
    color: white;
    background-color: rgb(54, 52, 52);
    margin: 1% auto 1% auto;
    height: 90vh;
    max-width: 70%;
    border-radius: 10px;
    padding-top: 1%;
}

.add {
    margin: 2%;
    background-color: rgb(41, 41, 41);
    width: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 10px;
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;

    &:hover {
        transition: .3s;
        background-color: rgb(75, 75, 75);

        & span {
            animation: spin .5s linear 1 3s;
        }
    }
}

.addNota {

    height: 100%;
    align-items: center;
    justify-content: center;

}

.nomenota {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;

    & input{
        width: 65%;
        margin: auto;
        background-color: transparent;
        padding-top: 2%;
        padding-left: 5px;
        border: none;
        border-bottom: 2px solid grey;
        border-radius: 5px;
        outline: none;
        margin-top: 50px;
        caret-color: white;
        font-size: .3em;
        color: white;
        text-align: center;
    }

    & input::placeholder {
        color: white;
        font-size: 1em;
        text-align: center;
    }

    & input:focus::placeholder {
        transition: 1s;
        color: transparent;
    }
}

span {
    display: none;
}

.exp {
    background-color: rgb(75, 75, 75);
    width: 95%;
    height: 95%;
}

/* Media queries*/

@media (orientation: portrait) and (max-width: 800px) {
    main {
        max-width: 800px;
        margin: 1%;
    }
}

/* Animações */

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  