* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 39, 39);
}

#top {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

main {
    color: white;
    background-color: rgb(54, 52, 52);
    margin: 1% auto 1% auto;
    height: 90vh;
    width: 60%;
    border-radius: 10px;
    padding-top: 1%;
}

.add {
    margin: 2%;
    background-color: rgb(41, 41, 41);
    width: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-radius: 10px;
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}

#add:hover {
    transition: .3s;
    background-color: rgb(75, 75, 75);
}

.exp {
    background-color: rgb(75, 75, 75);
    width: 95%;
    height: 95%;
}

/* span {
    animation: spin 2s linear infinite;
} */

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  