@import url(./popups.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
}

body {
    background-color: rgb(39, 39, 39);
}

#top {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

main {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(54, 52, 52);
    margin: 1% auto 1% auto;
    max-width: 70%;
    border-radius: 10px;
    padding-top: 1%;
}

.add {
    margin: 2%;
    background-color: rgb(41, 41, 41);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 10px;
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    padding: 1%;
}

.add:hover {
    transition: .3s;
    background-color: rgb(75, 75, 75);
}

.add:hover > span{
    animation: spin .5s linear 1 3s;
}

.nota {
    margin: 2% 1%;
    background-color: rgb(37, 37, 37);
    width: 140px;
    height: auto;
    max-height: 200px;
    max-width: 300px;
    border-radius: 10px;
    font-size: 5em;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    font-family: sans-serif;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    animation: shownote .2s ease-out;

}

.nota:hover {
    transition: .3s;
    background-color: rgb(110, 110, 110);
}

.nota:hover > span {
    animation: spin .5s linear 1 3s;
}

.nota:hover > .titulonota{
    transition: .3s;
    background-color: rgb(73, 73, 73);
}

.titulonota:hover {
    transition: .3s;
    background-color: rgb(73, 73, 73);
}

.content {
    font-size: .2em;
    margin: 0;
    padding: 5%;
    width: 100%;
    height: 90%;
}

.titulonota {
    padding: 5%;
    width: 100%;
    background-color: rgb(153, 0, 255);
    font-size: .1em;
    margin: 0;
    text-align: center;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 101%;
    left: -2%;
    height: 5%;
    backdrop-filter: blur(1px);
}

.addNota {
    height: 100%;
    align-items: center;
    justify-content: center;

}

.nomenota {
    margin: 0 auto;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.nomenota input{
    width: 65%;
    margin: 25px auto;
    background-color: transparent;
    padding-top: 2%;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 5px;
    outline: none;
    caret-color: white;
    font-size: .3em;
    color: white;
    text-align: center;
}

.nomenota input:focus::placeholder {
    transition: 1s;
    color: transparent;
}

.nomenota input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}

.texto {
    background-color: green;
    width: 100%;
    height: 70%;
    margin-top: 5%;
    max-width: 700px;
    margin: 2% auto;
    border: 1px white solid;
    border-radius: 10px;
    overflow: hidden;
}

.texto textarea {
    transition: .2s;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    padding: 5px;
    font-size: .5em;
    outline: none;
    color: white;
    text-align: justify;
}

.exp {
    background-color: rgb(75, 75, 75);
    width: 95%;
    height: 95%;
}

.mainexp {
    height: 90vh;
}

.mainexp .nota {
    display: none;
}

.buttons {
    position: relative;
    margin: 25px auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 400px;
    justify-content: space-around;
}



#save:hover::before { 
    content: '💾';
    position: absolute;
    left: 48%;
    top: 4px;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 3px;
    border-radius: 50%;

}

#back:hover::before { 
    content: '🗑️';
    position: absolute;
    left: -1.7%;
    top: 4px;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 3px;
    border-radius: 50%;
}

.button {
    font-size: .3em;
    padding: 2%;
    width: 35%;
    border-radius: 30px;
    cursor: pointer;
    border: 3px rgb(128, 125, 125) solid;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    color: rgb(71, 71, 71);
}

.button:hover {
    transition: .4s;
    background: rgb(145, 145, 145);
    color: aliceblue;
    border: 3px white solid;
}  

.notaberta {
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notabertadiv {
    background-color: rgb(65, 65, 65);
    height: 95vh;
    width: 60%;
    max-width: 800px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.nomenotaberta {
    background-color: rgb(48, 48, 48);
    height: 5%;
    border-bottom: 2px solid black;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}

.nomenotaberta input {
    text-align: center;
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 1.4em;
    outline: none;
}

.nomenotaberta input:focus {
    transition: .3s;
    background-color: rgb(34, 34, 34);
}

.notanotaberta {
    background-color: rgb(66, 66, 66);
    height: 95%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

#notaopened{
    resize: none;
    background-color: rgb(66, 66, 66);
    outline: none;
    width: 80%;
    max-height: 80%;
    border-radius: 20px;
    padding: 2%;
    font-size: 2em;
    color: white;
}

#notaopened:focus {
    background-color: rgb(34, 34, 34);
}

.btnota {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
}

.notebtn:hover {
    transition: .4s;
    background: rgb(145, 145, 145);
    color: aliceblue;
    border: 3px white solid;
    font-size: 1.2em;
}

.notebtn {
    width: 20%;
    height: 40%;
    min-width: 80px;
    margin: 20px;
    min-height: 40px;
    border-radius: 30px;
    border: 3px rgb(128, 125, 125) solid;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bolder;
    color: rgb(71, 71, 71);
}

/* Media queries*/

@media (orientation: portrait) and (max-width: 800px) {
    main {
        max-width: 800px;
        margin: 1%;
    }
    .confbox div {
        width: 90%;
    }

    .notebtn {
        width: 60%;
    }
    
    .nota .content {
        font-size: .25em;
        font-size: .25em;
    }
}

@media (orientation: portrait ) {
    .notabertadiv {
        width: 95%;
        max-width: none;
        height: 83vh;
    }

    #notaopened {
        width: 100% !important;
    }
}

@media (orientation: landscape) and (max-height: 450px){
    .buttons {
        margin: auto;
    }

    .nomenota input {
        margin: 0 auto;
    }

    .texto {
        height: 60%;
    }
    #notaopened {
        width: 100% !important;
        height: 72%;
    }

    .notabertadiv {
        height: 70vh;
        margin-top: -40px;

    }

}

/* Classes de animação*/

.sem {
    display: none;
}

.sumir {
    animation: desaparecer .2s linear 1;
}

.showNote {
    animation: shownote .2s ease-out;
}

.sumirCima {
    animation: sumirCima .4s ease-out 1;
}

.sumirCimaAviso {
    animation: sumirCimaAviso .4s ease-in;
}
/* Animações */

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@keyframes desaparecer {
    from{
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shownote {
    0% {
        opacity: 0;
        scale: 0;
    }
    50% {
        opacity: .3;
    }
    90% {
        opacity: .5;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes sumirCima {
    to {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes sumirCimaAviso {
    to {
        transform: translateY(-80px);
        opacity: 0;
    }
}